body 
{
    background-position: center center;    
    margin: 0px 0px 0px 0px;
    background-image: url('Images/Fakebook.jpg');
    background-repeat: no-repeat;
    width: 1920px;
    height: 874px;
    padding: 0px 0px 0px 0px;
}

.PostDiv
{
    margin-top: 150px;
    background-color: #E1E6F0;
    width: 320px;
}
        
.Publicationtxt
{
    height: 100px;
    width: 300px;
}

